* {
  margin: 0;
  padding: 0;
  
}

.sidebar {
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f0f0f0; /* サイドバーの背景色 */
  padding: 20px;
}

.sidebar-icon {
  margin-bottom: 90px;
}

.icon-size {
  width: 140px;
  height: auto;
}

.content {
  margin-left: 220px; /* サイドバーの幅と同じ値 */
  padding: 20px;
}

.sidebar a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
}

.sidebar a:hover {
  background-color: #ddd;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}



/* アニメーションの定義 */
@keyframes slide-in {
  from {
    transform: translateY(-50px); /* 上から50px移動 */
    opacity: 0; /* 透明から表示 */
  }
  to {
    transform: translateY(0); /* 元の位置に移動 */
    opacity: 1; /* 完全に表示 */
  }
}

/* アニメーションの定義 */
@keyframes slide-out {
  from {
    transform: translateY(0); /* 元の位置 */
    opacity: 1; /* 完全に表示 */
  }
  to {
    transform: translateY(-50px); /* 上に50px移動 */
    opacity: 0; /* 透明に */
  }
}


.custom-navbar {
  display: flex;
  justify-content: space-between;
}


.login-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 50px;
  transition: margin-top 0.5s ease-in-out;
}

.login-heading {
  text-align: center;
}

.login-container.slide-in {
  margin-top: 0;
}

.animated-alert {
  animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}